* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#title {
  text-align: center;
}
#textTitle {
  text-align: center;
}
#textTitle #f-button {
  color: #00224D;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
#textTitle #f-button::before {
  margin-left: auto;
}
#textTitle #f-button::after,
#textTitle #f-button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #FF204E;
  display: block;
  transition: 0.5s;
}
#textTitle #f-button:hover::after,
#textTitle #f-button:hover::before {
  width: 100%;
}
.drop-area {
  border: 5px dashed #ddd;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.drop-area h2 {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}
.drop-area span {
  font-size: 25px;
  font-weight: 500;
  color: #000;
}
.drop-area #drop-button {
  padding: 10px 25px;
  font-size: 20px;
  border: 0;
  outline: none;
  background-color: #FF204E;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
}
.file-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: solid 1px #ddd;
}
#preview {
  margin-top: 10px;
}
.status-text {
  padding: 0 10px;
}
.succes {
  color: #52ad5a;
}
.failure {
  color: #ff0000;
}
.drop-area.active {
  background-color: #59bef8;
  color: #fff;
  border: 2px dashed #FF204E;
}
