* {
  font-family: 'Times New Roman', Times, serif;
}
#title {
  text-align: center;
}
.card {
  margin: 0 auto;
  --background: linear-gradient(to right, #FF204E 0%, #A0153E 100%);
  width: 70%;
  height: 300px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #FF204E;
  background: var(--background);
  position: relative;
  z-index: 1;
}
.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: -1;
}
.card::before {
  background: linear-gradient(to bottom right, #5D0E41 0%, #00224D 100%);
  transform: rotate(2deg);
}
.card::after {
  background: linear-gradient(to top right, #00224D 0%, #5D0E41 100%);
  transform: rotate(-2deg);
}
.card-info {
  --color: #292b2c;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
  position: relative;
  z-index: 2;
}
.card .title {
  font-weight: bold;
  letter-spacing: 0.1em;
}
.card:hover::before,
.card:hover::after {
  opacity: 0;
}
.card:hover .card-info {
  color: #74ebd5;
  transition: color 1s;
}
#textTitle {
  text-align: center;
  padding-bottom: 20px;
}
#textTitle #f-button {
  color: #00224D;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
#textTitle #f-button::before {
  margin-left: auto;
}
#textTitle #f-button::after,
#textTitle #f-button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #FF204E;
  display: block;
  transition: 0.5s;
}
#textTitle #f-button:hover::after,
#textTitle #f-button:hover::before {
  width: 100%;
}
.foot {
  background-color: #00224D;
  height: 85px;
}
.foot #footText {
  margin-left: 15px;
  color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .para-container {
  display: flex;
  justify-content: space-between;
  /* Para separar los párrafos horizontalmente */
}
#text1 {
  text-align: left;
  padding-top: 28px;
  padding-right: 30px;
}
#text2 {
  padding-top: 28px;
  padding-left: 10%;
}
#text3 {
  padding-top: 28px;
  padding-left: 41%;
}
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #00224D;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}
.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all 0.15s ease;
}
.button::before {
  top: 0;
  border-bottom-width: 0;
}
.button::after {
  bottom: 0;
  border-top-width: 0;
}
.button:active,
.button:focus {
  outline: none;
}
.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}
.button:active::before {
  top: 3px;
}
.button:active::after {
  bottom: 3px;
}
.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}
.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}
.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}
.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #FF204E;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}
.button_text {
  position: relative;
}
.button:hover {
  color: #0f1923;
}
.button:hover .button_sl {
  width: calc(100% + 15px);
}
.button:hover .button_lg::after {
  background-color: #fff;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}
.footer {
  margin-top: 40px;
  background-color: #004658;
  color: #fff;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #fffff2;
}
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}
.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}
.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}
.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}
.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #00bef0;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: #027b9a;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}
.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}
.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}
.footer-social-amoeba-path {
  fill: #027b9a;
}
.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}
.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}
.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}
.footer-social-icon-svg {
  display: block;
}
.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}
.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}
.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}
.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}
.footer-copyright {
  background-color: #027b9a;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}
.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}
.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}
/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }
  .footer-wave-svg {
    height: 50px;
  }
  .footer-content-column {
    width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
        width: 49.99%;
    } */
}
